body {
    margin: 0;
}
#header {
    height: 24vh;
    background-repeat: no-repeat;
    background-image: url("../images/background.png");
    background-size: cover;
    background-position: center;
}
.img-circle {
    justify-content: center;
    align-content: center;
    display: flex;
    margin: auto;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    border-radius: 900px;
    background-color: sandybrown;
}
#footer {
    background: black;
    color: white;
    min-height: 30vh;
}
.contain {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}
.copyright {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.form-control {
    width: 60%;
    margin-left: 10px;
}
.btn_envoye {
    display: flex;
    margin-left: 400px;
    border: 2px solid black;
}
.default-fieldset{
    padding: .8rem;
    border: 1px solid black;
}
.default-fieldset > legend{
    float: unset;
    font-size: .9rem;
    padding: .4rem;
    margin-bottom: 0;
}
#main-container {
    min-height: 60vh;
}
.carousel-inner {
    background-size: cover;
    background-repeat: repeat;
    display: flex;
    margin-left: 450px;
}
.image {
    height: 350px;
    width: 350px;
}